html {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
	image-rendering: pixelated;
	cursor: inherit;
}

body {
	margin: 1em;
	font-family: Verdana, sans-serif;
	background: lightgray;
	color: black;
	animation: disturbingCursor 1s infinite linear;
}

@keyframes disturbingCursor {
	0%,
	100% {
		cursor: w-resize;
	}
	25% {
		cursor: n-resize;
	}
	50% {
		cursor: e-resize;
	}
	75% {
		cursor: s-resize;
	}
}

img {
	max-width: 100%;
}

.container {
	max-width: 40em;
}

.pixelatedImage {
	image-rendering: optimizeSpeed;
	/* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;
	/* Firefox                        */
	image-rendering: -o-crisp-edges;
	/* Opera                          */
	image-rendering: -webkit-optimize-contrast;
	/* Chrome (and eventually Safari) */
	image-rendering: pixelated;
	/* Chrome */
	image-rendering: optimize-contrast;
	/* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;
	/* IE8+                           */
}

.separator {
	margin: 2em 0;
}

.separator img {
	max-height: 10em;
	max-width: 10em;
}

.button {
	display: inline-block;
	font: inherit;
	font-size: 0.8em;
	background-color: aqua;
	color: inherit;
	padding: 0.5em;
	text-decoration: none;
	border: silver outset;
	user-select: none;
	outline: none;
}

.button:active {
	border-style: inset;
}

.inline-gif {
	width: auto;
	height: 2em;
}

/* Video player */
.player {
	position: relative;
	z-index: 1;
}

.player__videowrapper {
	position: relative;
	background: black;
	padding-top: 56.25%;
}

.player__videowrapper video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.player__screensaver {
	pointer-events: none;
	transition: visibility 0s 2s;
}

.js-player--playing .player__screensaver {
	visibility: hidden;
	transition: none;
}

.player__screensaver > marquee {
	position: absolute;
	top: 0;
}

.player__logo {
	width: 10em;
	height: auto;
	color: deeppink;
}

.player__controls {
	margin: 0.5em 0;
}

/* Christmas special */

.christmas {
	background: black;
	color: red;
	margin: 2em 0;
	text-align: center;
	border-radius: 20%;
}

.christmas span {
	color: green;
}

.christmas img {
	position: relative;
	z-index: 1;
}

/* Let it snow, let it etc... */
.diwinter,
.snow {
	pointer-events: none;
}

.diwinter {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.snow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	animation: fallingToRight linear infinite both;
	transform: translate(0, -100%);
}
.snow--near {
	animation-duration: 10s;
	background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
	background-size: contain;
}
.snow--near + .snow--alt {
	animation-name: fallingToLeft;
	animation-delay: 5s;
}
.snow--mid {
	animation-duration: 20s;
	background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
	background-size: contain;
}
.snow--mid + .snow--alt {
	animation-name: fallingToLeft;
	animation-delay: 10s;
}
.snow--far {
	animation-duration: 30s;
	background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
	background-size: contain;
}
.snow--far + .snow--alt {
	animation-name: fallingToLeft;
	animation-delay: 15s;
}

@keyframes fallingToLeft {
	0% {
		transform: translate(7.5%, -100%);
	}
	100% {
		transform: translate(-7.5%, 100%);
	}
}

@keyframes fallingToRight {
	0% {
		transform: translate(-7.5%, -100%);
	}
	100% {
		transform: translate(7.5%, 100%);
	}
}

/* Dialog CSS */

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	z-index: 10;
}

.dialog {
	display: none;
	position: fixed;
	z-index: 11;
	max-width: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #c0c0c0;
	border: 3px solid #808080;
	box-shadow: 3px 3px 0 0 #000;
	border-top-color: #fff;
	border-left-color: #fff;
	padding: 1rem;
}

.dialogContainer {
	display: flex;
	align-items: center;
}

.downloadGif {
	display: block;
	margin-bottom: 1.5rem;
}

.errorSymbol {
	margin-right: 1rem;
}

.progressBar {
	position: relative;
	width: 306px;
	height: 25px;
	padding: 1px;
	border: 2px solid #808080;
	border-bottom-color: #fff;
	border-right-color: #fff;
	margin-bottom: 1.5rem;
	font-size: 0;
}

.barCluster {
	display: inline-block;
	width: 20%;
	height: 100%;
	font-size: 0;
	vertical-align: top;
	animation: downloadProgress backwards 0s linear;
}

#bC1 {
	animation-delay: 2s;
}

#bC2 {
	animation-delay: 3s;
}

#bC3 {
	animation-delay: 4s;
}

#bC4 {
	animation-delay: 5s;
}

#bC5 {
	animation-delay: 6s;
}

.bar {
	display: inline-block;
	width: 20%;
	height: 100%;
	border: 1px solid #c0c0c0;
	background-color: #000080;
}

.button.windowsButton {
	background: #c0c0c0;
	border: 1px solid #808080;
	border-top-color: #fff;
	border-left-color: #fff;
	box-shadow: 1px 1px 0 2px #000;
	margin-top: 1.5rem;
	min-width: 80px;
	text-align: center;
}

.button.windowsButton:active {
	box-shadow: 0px 0px 0 1px #000;
	transform: translate(1px, 1px);
}

.button.windowsButton.alignRight {
	float: right;
	margin-left: 1rem;
}

.button.windowsButton.noMargin {
	margin-top: 0;
}

.button.windowsButton.alignCenter {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.button.windowsButton.alignCenter:active {
	transform: translate(calc(-50% + 1px), 1px);
}

.bsod {
	position: fixed;
	z-index: 13;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #030083;
	padding: 1rem;
	display: none;
}

.reboot {
	position: fixed;
	z-index: 14;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #000;
	padding: 1rem;
	display: none;
}

.reboot p {
	color: #fff;
	-webkit-font-smoothing: none;
	font-weight: bold;
	text-align: center;
}

.rebootInner {
	position: relative;
	width: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.rebootProgress {
	position: relative;
	width: 100%;
	height: 40px;
	border: 2px solid #fff;
	padding: 7px;
}

.rebootProgressInner {
	width: 100%;
	height: 100%;
	background-color: #fff;
	animation: rebootProgress backwards 3s step-end;
}

.installed {
	margin-bottom: 1.5rem;
}

@keyframes downloadProgress {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes rebootProgress {
	0% {
		width: 0px;
	}
	20% {
		width: 10%;
	}
	40% {
		width: 20%;
	}
	60% {
		width: 50%;
	}
	80% {
		width: 80%;
	}
	100% {
		width: 100%;
	}
}
