html {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	margin: 1em;
	font-family: Verdana, sans-serif;
	background: lightgray;
	color: black;
}

.container {
	max-width: 40em;
}

.separator {
	display: block;
	text-align: center;
	margin: 1em 0;
}

.button {
	display: inline-block;
	font: inherit;
	font-size: 0.8em;
	background-color: aqua;
	color: inherit;
	padding: 0.5em;
	text-decoration: none;
	border: silver outset;
	cursor: default;
	user-select: none;
	outline: none;
}

.button:active {
	border-style: inset;
}

/* Video player */
.player {
	position: relative;
	z-index: 1;
}

.player__videowrapper {
	position: relative;
	background: black;
	padding-top: 56.25%;
}

.player__videowrapper video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.player__screensaver {
	pointer-events: none;
	transition: visibility 0s 2s;
}

.js-player--playing .player__screensaver {
	visibility: hidden;
	transition: none;
}

.player__screensaver > marquee {
	position: absolute;
	top: 0;
}

.player__logo {
	width: 10em;
	height: auto;
	color: deeppink;
}

.player__controls {
	margin: 0.5em 0;
}

/* Let it snow, let it etc... */
.diwinter,
.snow {
	pointer-events: none;
}

.diwinter {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.snow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	animation: fallingToRight linear infinite both;
	transform: translate(0, -100%);
}
.snow--near {
	animation-duration: 10s;
	background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
	background-size: contain;
}
.snow--near + .snow--alt {
	animation-name: fallingToLeft;
	animation-delay: 5s;
}
.snow--mid {
	animation-duration: 20s;
	background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
	background-size: contain;
}
.snow--mid + .snow--alt {
	animation-name: fallingToLeft;
	animation-delay: 10s;
}
.snow--far {
	animation-duration: 30s;
	background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
	background-size: contain;
}
.snow--far + .snow--alt {
	animation-name: fallingToLeft;
	animation-delay: 15s;
}

@keyframes fallingToLeft {
	0% {
		transform: translate(7.5%, -100%);
	}
	100% {
		transform: translate(-7.5%, 100%);
	}
}

@keyframes fallingToRight {
	0% {
		transform: translate(-7.5%, -100%);
	}
	100% {
		transform: translate(7.5%, 100%);
	}
}
